/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.obj-1 {
  background-color: lightgray;
  display: inline-block;
}

.obj-1::before {
  content: "Good ";
  background-color: lightskyblue;
}

.obj-1::after {
  content: " is me.";
  background-color: lightpink;
}

/* .para::first-letter {
  font-size: 30px;
} */

.para::first-line {
  color: orchid;
}

::marker {
  color: red;
}

.para::selection {
  background-color: yellow;
  color: red;
}