.heading{
  text-decoration: underline;
  letter-spacing: 5px;
}

.para {
  text-transform: capitalize;
  word-spacing: 4px;
  line-height: 30px;
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 20px;

}

.mm {
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 32px;
}

.del {
  text-decoration: line-through;
}

.short-hand {
  font: italic 500 20px/30px Satoshi;
}