@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--base-font);
  font-size: 16px;
}

body{

}

main {
  padding: 24px;
}