/* display */
.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

/* border */
.border-b-0 {
  border-bottom: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.rounded {
  border-radius: 8px;
}

.rounded-pill {
  border-radius: 100px;
}

.border-grey {
  border-color: var(--grey) !important;
}

/* shadow */
.shadow {
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inner-shadow {
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* margin */
.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

.ml-auto {
  margin-left: auto;
}

/* padding */
.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 8px !important;
}

.p-4 {
  padding: 16px !important;
}

.p-5 {
  padding: 20px !important;
}

.p-6 {
  padding: 24px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

/* font & text */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 500;
}

.text-grey {
  color: var(--text-grey);
}

/* width */
.w-full {
  width: 100% !important;
}

